@using EShop.WebApp.States

@inject AlertState AlertState

@if (AlertState.QueueAlerts.Any())
{
    <div class="top-6 fixed inset-x-1/3">
        <div class="space-y-4">
            @foreach (var alert in AlertState.QueueAlerts)
            {
                <Alert AlertType="@alert.Type" Title="@alert.Title" Message="@alert.Message"></Alert>
            }
        </div>
    </div>
}

@code {
    protected override void OnInitialized()
    {
        AlertState.AlertChanged += StateHasChanged;
    }
}
