@using EShop.WebApp.Models.Enums

@switch (AlertType)
{
    case AlertType.Info:
        <div class="p-4 mb-4 text-blue-800 border-blue-300 bg-blue-50 flex items-center rounded-lg border text-sm dark:bg-gray-800 dark:text-blue-400 dark:border-blue-800" role="alert">
            <svg class="w-4 h-4 me-3 inline flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>
            <span class="sr-only">Info</span>
            <div>
                <span class="font-medium">@Title!</span> @Message
            </div>
        </div>
        break;

    case AlertType.Success:
        <div class="p-4 mb-4 text-green-800 border-green-300 bg-green-50 flex items-center rounded-lg border text-sm dark:bg-gray-800 dark:text-green-400 dark:border-green-800" role="alert">
            <svg class="w-4 h-4 me-3 inline flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 1.5a8.5 8.5 0 1 0 8.5 8.5A8.51 8.51 0 0 0 10 1.5ZM8.7 13.7a1 1 0 0 1-1.42 0l-2-2a1 1 0 0 1 1.42-1.42L8 11.58l4.3-4.3a1 1 0 1 1 1.42 1.42Z" />
            </svg>
            <span class="sr-only">Success</span>
            <div>
                <span class="font-medium">@Title!</span> @Message
            </div>
        </div>
        break;

    case AlertType.Warning:
        <div class="p-4 mb-4 text-yellow-800 border-yellow-300 bg-yellow-50 flex items-center rounded-lg border text-sm dark:bg-gray-800 dark:text-yellow-300 dark:border-yellow-800" role="alert">
            <svg class="w-4 h-4 me-3 inline flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>
            <span class="sr-only">Warning</span>
            <div>
                <span class="font-medium">@Title!</span> @Message
            </div>
        </div>
        break;

    case AlertType.Danger:
        <div class="p-4 mb-4 text-red-800 border-red-300 bg-red-50 flex items-center rounded-lg border text-sm dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
            <svg class="w-4 h-4 me-3 inline flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 1.5a8.5 8.5 0 1 0 8.5 8.5A8.51 8.51 0 0 0 10 1.5Zm3.54 11.35a1 1 0 0 1-1.42 1.42L10 11.42l-2.12 2.12a1 1 0 0 1-1.42-1.42L8.58 10 6.46 7.88a1 1 0 0 1 1.42-1.42L10 8.58l2.12-2.12a1 1 0 0 1 1.42 1.42L11.42 10Z"/>
            </svg>
            <span class="sr-only">Danger</span>
            <div>
                <span class="font-medium">@Title!</span> @Message
            </div>
        </div>
        break;
}

@code
{
    [Parameter, EditorRequired]
    public AlertType AlertType { get; set; }

    [Parameter, EditorRequired]
    public string Title { get; set; }

    [Parameter, EditorRequired]
    public string Message { get; set; }

    protected override void OnInitialized()
    {

    }
}
