<div class="gap-4 pb-4 grid md:grid-cols-10 md:gap-6 md:pb-6">
    <a href="#" class="text-gray-900 content-center font-semibold hover:underline dark:text-white sm:col-span-10 lg:col-span-3">Apple iMac 27" All-In-One PC</a>
    <dl class="space-x-2 flex items-center sm:col-span-4 lg:col-span-3">
        <dt class="text-gray-900 font-medium dark:text-white">Warranty length:</dt>
        <dd class="text-gray-500 dark:text-gray-400">24 months</dd>
    </dl>
    <dl class="space-x-2 flex items-center sm:col-span-4 lg:col-span-3">
        <dt class="text-gray-900 font-medium dark:text-white">Expires on:</dt>
        <dd class="text-gray-500 dark:text-gray-400">08 Feb 2026</dd>
    </dl>
    <div class="sm:col-span-2 md:justify-self-end lg:col-span-1">
        <button id="actionsMenuDropdown1" data-dropdown-toggle="dropdownOrder1" type="button" class="border-gray-200 bg-white px-3 py-2 text-gray-900 flex w-full items-center justify-center rounded-lg border text-sm font-medium hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 sm:w-auto dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700">
            More
            <svg class="-me-0.5 ms-1.5 h-4 w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"></path>
            </svg>
        </button>
        <div id="dropdownOrder1" class="w-52 divide-gray-100 bg-white z-10 hidden divide-y rounded-lg shadow dark:bg-gray-700" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(867.2px, 233.6px, 0px);" data-popper-placement="bottom">
            <ul class="p-2 text-gray-500 text-left text-sm font-medium dark:text-gray-400" aria-labelledby="actionsMenuDropdown1">
                <li>
                    <a href="#" class="px-3 py-2 text-gray-500 group inline-flex w-full items-center rounded-md text-sm hover:bg-gray-100 hover:text-gray-900 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white">
                        <svg class="me-1.5 h-4 w-4 text-gray-400 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 13V4M7 14H5a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1h-2m-1-5-4 5-4-5m9 8h.01"></path>
                        </svg>
                        <span>Download certificate</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="px-3 py-2 text-gray-500 group inline-flex w-full items-center rounded-md text-sm hover:bg-gray-100 hover:text-gray-900 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white">
                        <svg class="me-1.5 h-4 w-4 text-gray-400 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 3v4a1 1 0 0 1-1 1H5m8-2h3m-3 3h3m-4 3v6m4-3H8M19 4v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1ZM8 12v6h8v-6H8Z"></path>
                        </svg>
                        <span>Extend warranty</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>