@page "/not-found"

@layout EmptyLayout


<h3>404</h3>
<h1>Page not found</h1>
<p class="mt-6 text-gray-600 text-base leading-7">Sorry, we could not find the page you’re looking for.</p>
<div class="mt-3 flex">
    <a href="/">Go back home</a>
    <a href="/">Contact support</a>
</div>

