<div class="rating">
    @for (var i = 1; i <= Max; i++)
    {
        if (i < Star)
        {
            <span class="text-warning">&#9733;</span>  <!-- Filled Star -->
        }
        else
        {
            <span class="text-muted">&#9734;</span>    <!-- Empty Star -->
        }
    }
</div>

@code {
    [Parameter, EditorRequired]
    public int Star { get; set; }

    [Parameter, EditorRequired]
    public int Max { get; set; }
}
