<div class="rating">
    @for (var i = 1; i <= Max; i++)
    {
        if (i < Star)
        {
            <TelerikSvgIcon Class="text-warning"
                            Icon="@SvgIcon.Star"
                            Size="@ThemeConstants.SvgIcon.Size.Large"></TelerikSvgIcon>  <!-- Filled Star -->
        }
        else
        {
            <TelerikSvgIcon Class="text-warning"
                            Icon="@SvgIcon.StarOutline"
                            Size="@ThemeConstants.SvgIcon.Size.Large"></TelerikSvgIcon>  <!-- Empty Star -->
        }
    }
</div>

@code {
    [Parameter, EditorRequired]
    public int Star { get; set; }

    [Parameter, EditorRequired]
    public int Max { get; set; }
}
