@using EShop.WebApp.Components.Common

@inherits LayoutComponentBase

<Alerts></Alerts>

<div class="flex min-h-screen flex-col">
    <NavMenu></NavMenu>

    <main>
        @Body
    </main>

    <Footer></Footer>
</div>
