@page "/not-found"

@layout EmptyLayout

<section class="bg-white px-6 py-24 grid min-h-full place-items-center sm:py-32 lg:px-8">
    <div class="text-center">
        <p class="text-indigo-600 text-base font-semibold">404</p>
        <h1 class="mt-4 text-gray-900 text-3xl font-bold tracking-tight sm:text-5xl">Page not found</h1>
        <p class="mt-6 text-gray-600 text-base leading-7">Sorry, we couldn’t find the page you’re looking for.</p>
        <div class="mt-10 gap-x-6 flex items-center justify-center">
            <a href="#" class="bg-indigo-600 px-3.5 py-2.5 text-white rounded-md text-sm font-semibold shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Go back home</a>
            <a href="#" class="text-gray-900 text-sm font-semibold">Contact support <span aria-hidden="true">&rarr;</span></a>
        </div>
    </div>
</section>