<table class="text-gray-900 w-full text-left font-medium dark:text-white md:table-fixed">
    <tbody class="divide-gray-200 divide-y dark:divide-gray-800">
        <tr>
            <td class="py-4 whitespace-nowrap md:w-[384px]">
                <div class="gap-4 flex items-center">
                    <a href="#" class="w-10 h-10 flex aspect-square shrink-0 items-center">
                        <img class="h-auto max-h-full w-full dark:hidden"
                            src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/imac-front.svg" alt="imac image" />
                        <img class="hidden h-auto max-h-full w-full dark:block"
                            src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/imac-front-dark.svg"
                            alt="imac image" />
                    </a>
                    <a href="#" class="hover:underline">Apple iMac 27”</a>
                </div>
            </td>

            <td class="p-4 text-gray-900 text-base font-normal dark:text-white">x1</td>

            <td class="p-4 text-gray-900 text-right text-base font-bold dark:text-white">$1,499</td>
        </tr>

        <tr>
            <td class="py-4 whitespace-nowrap md:w-[384px]">
                <div class="gap-4 flex items-center">
                    <a href="#" class="w-10 h-10 flex aspect-square shrink-0 items-center">
                        <img class="h-auto max-h-full w-full dark:hidden"
                            src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/iphone-light.svg"
                            alt="imac image" />
                        <img class="hidden h-auto max-h-full w-full dark:block"
                            src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/iphone-dark.svg"
                            alt="imac image" />
                    </a>
                    <a href="#" class="hover:underline">Apple iPhone 14</a>
                </div>
            </td>

            <td class="p-4 text-gray-900 text-base font-normal dark:text-white">x2</td>

            <td class="p-4 text-gray-900 text-right text-base font-bold dark:text-white">$1,998</td>
        </tr>

        <tr>
            <td class="py-4 whitespace-nowrap md:w-[384px]">
                <div class="gap-4 flex items-center">
                    <a href="#" class="w-10 h-10 flex aspect-square shrink-0 items-center"/>
                        <img class="h-auto max-h-full w-full dark:hidden"
                            src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/ipad-light.svg" alt="ipad image" />
                        <img class="hidden h-auto max-h-full w-full dark:block"
                            src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/ipad-dark.svg" alt="ipad image" />
                        <a href="#" class="hover:underline">Apple iPad Air</a>
                </div>
            </td>

            <td class="p-4 text-gray-900 text-base font-normal dark:text-white">x1</td>

            <td class="p-4 text-gray-900 text-right text-base font-bold dark:text-white">$898</td>
        </tr>

        <tr>
            <td class="py-4 whitespace-nowrap md:w-[384px]">
                <div class="gap-4 flex items-center">
                    <a href="#" class="w-10 h-10 flex aspect-square shrink-0 items-center"/>
                        <img class="h-auto max-h-full w-full dark:hidden"
                            src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/xbox-light.svg" alt="xbox image" />
                        <img class="hidden h-auto max-h-full w-full dark:block"
                            src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/xbox-dark.svg" alt="xbox image" />
                        <a href="#" class="hover:underline">Xbox Series X</a>
                </div>
            </td>

            <td class="p-4 text-gray-900 text-base font-normal dark:text-white">x4</td>

            <td class="p-4 text-gray-900 text-right text-base font-bold dark:text-white">$4,499</td>
        </tr>

        <tr>
            <td class="py-4 whitespace-nowrap md:w-[384px]">
                <div class="gap-4 flex items-center">
                    <a href="#" class="w-10 h-10 flex aspect-square shrink-0 items-center"/>
                        <img class="h-auto max-h-full w-full dark:hidden"
                            src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/ps5-light.svg"
                            alt="playstation image" />
                        <img class="hidden h-auto max-h-full w-full dark:block"
                            src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/ps5-dark.svg"
                            alt="playstation image" />
                        <a href="#" class="hover:underline">PlayStation 5</a>
                </div>
            </td>

            <td class="p-4 text-gray-900 text-base font-normal dark:text-white">x1</td>

            <td class="p-4 text-gray-900 text-right text-base font-bold dark:text-white">$499</td>
        </tr>

        <tr>
            <td class="py-4 whitespace-nowrap md:w-[384px]">
                <div class="gap-4 flex items-center">
                    <a href="#" class="w-10 h-10 flex aspect-square shrink-0 items-center"/>
                        <img class="h-auto max-h-full w-full dark:hidden"
                            src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/macbook-pro-light.svg"
                            alt="macbook image" />
                        <img class="hidden h-auto max-h-full w-full dark:block"
                            src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/macbook-pro-dark.svg"
                            alt="macbook image" />
                        <a href="#" class="hover:underline">MacBook Pro 16"</a>
                </div>
            </td>

            <td class="p-4 text-gray-900 text-base font-normal dark:text-white">x1</td>

            <td class="p-4 text-gray-900 text-right text-base font-bold dark:text-white">$499</td>
        </tr>

        <tr>
            <td class="py-4 whitespace-nowrap md:w-[384px]">
                <div class="gap-4 flex items-center">
                    <a href="#" class="w-10 h-10 flex aspect-square shrink-0 items-center"/>
                        <img class="h-auto max-h-full w-full dark:hidden"
                            src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/apple-watch-light.svg"
                            alt="watch image" />
                        <img class="hidden h-auto max-h-full w-full dark:block"
                            src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/apple-watch-dark.svg"
                            alt="watch image" />
                        <a href="#" class="hover:underline">Apple Watch SE</a>
                </div>
            </td>

            <td class="p-4 text-gray-900 text-base font-normal dark:text-white">x2</td>

            <td class="p-4 text-gray-900 text-right text-base font-bold dark:text-white">$799</td>
        </tr>
    </tbody>
</table>