<div class="space-y-4 p-6">
    <div class="gap-6 flex items-center">
        <a href="#" class="h-14 w-14 shrink-0">
            <img class="h-full w-full dark:hidden" src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/imac-front.svg" alt="imac image" />
            <img class="hidden h-full w-full dark:block" src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/imac-front-dark.svg" alt="imac image" />
        </a>

        <a href="#" class="min-w-0 text-gray-900 flex-1 font-medium hover:underline dark:text-white"> PC system All in One APPLE iMac (2023) mqrq3ro/a, Apple M3, 24" Retina 4.5K, 8GB, SSD 256GB, 10-core GPU, macOS Sonoma, Blue, Keyboard layout INT </a>
    </div>

    <div class="gap-4 flex items-center justify-between">
        <p class="text-gray-500 text-sm font-normal dark:text-gray-400"><span class="text-gray-900 font-medium dark:text-white">Product ID:</span> BJ8364850</p>

        <div class="gap-4 flex items-center justify-end">
            <p class="text-gray-900 text-base font-normal dark:text-white">x1</p>

            <p class="text-gray-900 text-xl font-bold leading-tight dark:text-white">$1,499</p>
        </div>
    </div>
</div>


@code {

}
