@using Microsoft.AspNetCore.Components.Authorization

<nav class="bg-white antialiased dark:bg-gray-800">
    <div class="px-4 py-4 mx-auto max-w-screen-xl 2xl:px-0">
        <div class="flex items-center justify-between">

            <div class="space-x-8 flex items-center">
                <div class="shrink-0">
                    <a href="#" title="" class="">
                        <img class="h-8 block w-auto dark:hidden" src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/logo-full.svg" alt="">
                        <img class="h-8 hidden w-auto dark:block" src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/logo-full-dark.svg" alt="">
                    </a>
                </div>

                <ul class="gap-6 py-3 hidden items-center justify-start sm:justify-center md:gap-8 lg:flex">
                    <li>
                        <a href="#" title="" class="text-gray-900 flex text-sm font-medium hover:text-primary-700 dark:text-white dark:hover:text-primary-500">
                            Home
                        </a>
                    </li>
                    <li class="shrink-0">
                        <a href="#" title="" class="text-gray-900 flex text-sm font-medium hover:text-primary-700 dark:text-white dark:hover:text-primary-500">
                            Best Sellers
                        </a>
                    </li>
                    <li class="shrink-0">
                        <a href="#" title="" class="text-gray-900 flex text-sm font-medium hover:text-primary-700 dark:text-white dark:hover:text-primary-500">
                            Gift Ideas
                        </a>
                    </li>
                    <li class="shrink-0">
                        <a href="#" title="" class="text-gray-900 text-sm font-medium hover:text-primary-700 dark:text-white dark:hover:text-primary-500">
                            Today's Deals
                        </a>
                    </li>
                    <li class="shrink-0">
                        <a href="#" title="" class="text-gray-900 text-sm font-medium hover:text-primary-700 dark:text-white dark:hover:text-primary-500">
                            Sell
                        </a>
                    </li>
                </ul>
            </div>

            <div class="flex items-center lg:space-x-2">

                <button @onclick="() => _showDropdownMyCart = !_showDropdownMyCart"
                        id="myCartDropdownButton1"
                        data-dropdown-toggle="myCartDropdown1" type="button" class="p-2 text-gray-900 inline-flex items-center justify-center rounded-lg text-sm font-medium leading-none hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
                    <span class="sr-only">
                        Cart
                    </span>
                    <svg class="w-5 h-5 lg:me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7H7.312" />
                    </svg>
                    <span class="hidden sm:flex">My Cart</span>
                    <svg class="w-4 h-4 text-gray-900 ms-1 hidden dark:text-white sm:flex" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7" />
                    </svg>
                </button>

                <div id="myCartDropdown1" class="@(_showDropdownMyCart? "":"hidden") space-y-4 bg-white p-4 z-10 mx-auto max-w-sm overflow-hidden rounded-lg antialiased shadow-lg dark:bg-gray-800" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(1005.6px, 68px, 0px);">
                    <div class="grid grid-cols-2">
                        <div>
                            <a href="#" class="text-gray-900 truncate text-sm font-semibold leading-none hover:underline dark:text-white">Apple iPhone 15</a>
                            <p class="mt-0.5 text-gray-500 truncate text-sm font-normal dark:text-gray-400">$599</p>
                        </div>

                        <div class="gap-6 flex items-center justify-end">
                            <p class="text-gray-500 text-sm font-normal leading-none dark:text-gray-400">Qty: 1</p>

                            <button data-tooltip-target="tooltipRemoveItem1a" type="button" class="text-red-600 hover:text-red-700 dark:text-red-500 dark:hover:text-red-600">
                                <span class="sr-only"> Remove </span>
                                <svg class="h-4 w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm7.7-3.7a1 1 0 0 0-1.4 1.4l2.3 2.3-2.3 2.3a1 1 0 1 0 1.4 1.4l2.3-2.3 2.3 2.3a1 1 0 0 0 1.4-1.4L13.4 12l2.3-2.3a1 1 0 0 0-1.4-1.4L12 10.6 9.7 8.3Z" clip-rule="evenodd" />
                                </svg>
                            </button>
                            <div id="tooltipRemoveItem1a" role="tooltip" class="tooltip bg-gray-900 px-3 py-2 text-white invisible absolute z-10 inline-block rounded-lg text-sm font-medium opacity-0 shadow-sm transition-opacity duration-300 dark:bg-gray-700">
                                Remove item
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                        </div>
                    </div>

                    <a href="/checkout" title="" class="mb-2 me-2 bg-blue-700 px-5 py-2.5 text-white inline-flex w-full items-center justify-center rounded-lg text-sm font-medium hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" role="button"> Proceed to Checkout </a>
                </div>

                <a href="/register"
                   id="userDropdownButton1" data-dropdown-toggle="userDropdown1" type="button" class="p-2 text-gray-900 inline-flex items-center justify-center rounded-lg text-sm font-medium leading-none hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
                    <svg class="w-5 h-5 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-width="2" d="M7 17v1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3h-4a3 3 0 0 0-3 3Zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    </svg>
                    Register
                </a>

                <a href="/sign-in"
                   id="userDropdownButton1" data-dropdown-toggle="userDropdown1" type="button" class="p-2 text-gray-900 inline-flex items-center justify-center rounded-lg text-sm font-medium leading-none hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
                    <svg class="w-5 h-5 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-width="2" d="M7 17v1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3h-4a3 3 0 0 0-3 3Zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    </svg>
                    Sign in
                </a>
                
             @*    <button @onclick="() => _showDropdownAccount = !_showDropdownAccount"
                        id="userDropdownButton1" data-dropdown-toggle="userDropdown1" type="button" class="p-2 text-gray-900 inline-flex items-center justify-center rounded-lg text-sm font-medium leading-none hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
                    <svg class="w-5 h-5 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-width="2" d="M7 17v1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3h-4a3 3 0 0 0-3 3Zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    </svg>
                    Account
                    <svg class="w-4 h-4 text-gray-900 ms-1 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7" />
                    </svg>
                </button>

                <div id="userDropdown1" class="@(_showDropdownAccount? "": "hidden") w-56 divide-gray-100 bg-white absolute absolute z-10 divide-y overflow-hidden overflow-y-auto rounded-lg antialiased shadow dark:divide-gray-600 dark:bg-gray-700"
                     style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(1156.8px, 68px, 0px);">
                    <ul class="p-2 text-gray-900 text-start text-sm font-medium dark:text-white">
                        <li>
                            <a href="#" title="" class="gap-2 px-3 py-2 inline-flex w-full items-center rounded-md text-sm hover:bg-gray-100 dark:hover:bg-gray-600">
                                My Account
                            </a>
                        </li>
                        <li>
                            <a href="#" title="" class="gap-2 px-3 py-2 inline-flex w-full items-center rounded-md text-sm hover:bg-gray-100 dark:hover:bg-gray-600">
                                My Orders
                            </a>
                        </li>
                        <li>
                            <a href="#" title="" class="gap-2 px-3 py-2 inline-flex w-full items-center rounded-md text-sm hover:bg-gray-100 dark:hover:bg-gray-600">
                                Settings
                            </a>
                        </li>
                        <li>
                            <a href="#" title="" class="gap-2 px-3 py-2 inline-flex w-full items-center rounded-md text-sm hover:bg-gray-100 dark:hover:bg-gray-600">
                                Favourites
                            </a>
                        </li>
                        <li>
                            <a href="#" title="" class="gap-2 px-3 py-2 inline-flex w-full items-center rounded-md text-sm hover:bg-gray-100 dark:hover:bg-gray-600">
                                Delivery Addresses
                            </a>
                        </li>
                        <li>
                            <a href="#" title="" class="gap-2 px-3 py-2 inline-flex w-full items-center rounded-md text-sm hover:bg-gray-100 dark:hover:bg-gray-600">
                                Billing Data
                            </a>
                        </li>
                    </ul>

                    <div class="p-2 text-gray-900 text-sm font-medium dark:text-white">
                        <a href="/sign-in" title="" class="gap-2 px-3 py-2 inline-flex w-full items-center rounded-md text-sm hover:bg-gray-100 dark:hover:bg-gray-600">
                            Sign Out
                        </a>
                    </div>
                </div> *@

                <button type="button" data-collapse-toggle="ecommerce-navbar-menu-1" aria-controls="ecommerce-navbar-menu-1" aria-expanded="false" class="p-2 text-gray-900 inline-flex items-center justify-center rounded-md hover:bg-gray-100 dark:text-white lg:hidden dark:hover:bg-gray-700">
                    <span class="sr-only">
                        Open Menu
                    </span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14" />
                    </svg>
                </button>
            </div>
        </div>

        <div id="ecommerce-navbar-menu-1" class="bg-gray-50 border-gray-200 py-3 px-4 mt-4 hidden rounded-lg border dark:bg-gray-700 dark:border-gray-600">
            <ul class="text-gray-900 space-y-3 text-sm font-medium dark:text-white dark:text-white">
                <li>
                    <a href="#" class="hover:text-primary-700 dark:hover:text-primary-500">Home</a>
                </li>
                <li>
                    <a href="#" class="hover:text-primary-700 dark:hover:text-primary-500">Best Sellers</a>
                </li>
                <li>
                    <a href="#" class="hover:text-primary-700 dark:hover:text-primary-500">Gift Ideas</a>
                </li>
                <li>
                    <a href="#" class="hover:text-primary-700 dark:hover:text-primary-500">Games</a>
                </li>
                <li>
                    <a href="#" class="hover:text-primary-700 dark:hover:text-primary-500">Electronics</a>
                </li>
                <li>
                    <a href="#" class="hover:text-primary-700 dark:hover:text-primary-500">Home & Garden</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code
{
    private bool _showDropdownAccount;
    private bool _showDropdownMyCart;
}
